<?xml version='1.0' encoding='utf-8'?>
<plugin id="YHPickerview" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>YHPickerview</name><js-module name="YHPickerview" src="www/YHPickerview.js"><clobbers target="cordova.plugins.YHPickerview" /></js-module><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="YHPickerview"><param name="ios-package" value="YHPickerview" /></feature></config-file><source-file src="src/ios/YHPickerview.m" /></platform></plugin>